@model GameRating.Models.Game
@{
    ViewBag.Title = "Home Page";
}

@{
    string name = Model.Name;
    string system = Model.System;
    int rating = Model.Rating;
}
<div class="jumbotron text-center">
    <h1>Rate The Game</h1>

</div>


<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Video Game Rating!</title>
    @Scripts.Render("~/bundles/jquery")
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <script src="https://www.google.com/jsapi"
            type="text/javascript"></script>
    <script language="Javascript" type="text/javascript">
        //<!
        google.load('search', '1');


        function OnLoad() {

            // create a tabbed mode search control
            var gameName = document.getElementById("gameName").innerText.toString();
            var tabbed = new google.search.SearchControl();
            tabbed.setResultSetSize(1);
            
            
            // create our searchers.  There will now be 3 tabs.
            tabbed.addSearcher(new google.search.ImageSearch());

            tabbed.addSearcher(new google.search.VideoSearch());

           
            // draw in tabbed layout mode
            var drawOptions = new google.search.DrawOptions();
            drawOptions.setDrawMode(google.search.SearchControl.DRAW_MODE_TABBED);
            
            
            // Draw the tabbed view in the content div
            tabbed.draw(document.getElementById("content"), drawOptions);

            // Search!
            tabbed.execute(gameName + " " + "box art");

            // tell the searcher to draw itself and tell it where to attach


        }
        google.setOnLoadCallback(OnLoad);
    </script>
</head>
<body style="font-family: Arial;border: 0 none;">
    <div id="content" class="col-lg-6">Loading...</div>
    <div class="GameDetails col-lg-6">
        <h4>@name</h4>


        <label id="gameName">Game Title: @name</label><br />

        <label>Platform: @system</label><br />

        <label>Current Rating: @rating</label><br />




        
        <button type="button" class="btn btn-default" id="NextButton" onclick="location.href='@Url.Action("Next", "Home")'">
            <span class="glyphicon glyphicon-arrow-right"></span>
        </button>

        <button type="button" class="btn btn-default" id="UpvoteButton" name="command" value="Upvote" onclick="location.href='@Url.Action("Upvote", "Home")'">
            <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>

        <button type="button" class="btn btn-default" id="DownvoteButton" value="Downvote" onclick="location.href='@Url.Action("Downvote", "Home")'" >
        <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
        
    </div>
    <script>
        $("#NextButton").hover(function () {
            $("#NextButton").fadeToggle(100);
            $(this).css('background-color', 'yellow');
            $("#NextButton").fadeToggle(100);
        }, function () {
            $(this).css('background-color', 'yellow');
            $("#NextButton").fadeIn();
        });
    </script>
    <script>
        $("#UpvoteButton").hover(function () {
            $(this).fadeToggle(100);
            $(this).css('background-color', 'green');
            $(this).fadeToggle(100);
        }, function () {
            $(this).css('background-color', 'green');
            $(this).fadeIn();
        });
    </script>
    <script>
        $("#DownvoteButton").hover(function () {
            $(this).fadeToggle(100);
            $(this).css('background-color', 'red');
            $(this).fadeToggle(100);
        }, function () {
            $(this).css('background-color', 'red');
            $(this).fadeIn();
        });
    </script>

</body>
</html>