@model GameRating.Models.Game
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Games</h1>

</div>


<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <script src="https://www.google.com/jsapi"
            type="text/javascript"></script>
    <script language="Javascript" type="text/javascript">
        //<!
        google.load('search', '1');


        function OnLoad() {
            // Create a search control
            var gameName = document.getElementById("gameName").innerText.toString();
            var searchControl = new google.search.SearchControl();

            // Add in a full set of searchers


            searchControl.addSearcher(new google.search.VideoSearch());



            searchControl.addSearcher(new google.search.ImageSearch());





            // tell the searcher to draw itself and tell it where to attach
            searchControl.draw(document.getElementById("searchcontrol"));
            searchControl.setResultSetSize(1);
            // execute an inital search
            searchControl.execute(gameName);
        }
        google.setOnLoadCallback(OnLoad);

        //]]>
    </script>
    
    <title>Rate the Game</title>
    </head>
    <body>
        <div id="searchcontrol">Loading</div>
        <div>
            <h4>Game</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    <label id="gameName">@Html.DisplayFor(model => model.Name)</label>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.System)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.System)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Rating)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Rating)
                </dd>
                <dd>
                    <input type="button" value="Next" onclick="location.href='@Url.Action("Next", "Home")'" />
                    <input type="submit" name="command" value="Upvote" onclick="location.href='@Url.Action("Upvote", "Home")'" />
                    <input type="button" value="Downvote" onclick="location.href='@Url.Action("Downvote", "Home")'" />
                </dd>

            </dl>
        </div>

    </body>
    </head>
</body>
</html>